<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet" />

<body>
  <div class="spacer">
    &nbsp;
  </div>
  <h1>
    {{ title }}
  </h1>

  <!-- <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/daugherty-teamwon/GDD+-+no+text.png" /> -->
  <div class="container">
    <section class="animation-box">
      <div class="first-text">Good Day <span class='d-header'><strong>Daugherty</strong></span></div>
      <div class="second-text">podcasts</div>
    </section>
  </div>

  <div class="box">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="col ">
    <ul>
      <li *ngFor="let episode of episodes">
        <app-episodes id="{{ episode.Episode_ID }}" name="{{ episode.Title }}" summary="{{ episode.Description }}">
        </app-episodes>
      </li>
      <div class="spacer">
        &nbsp;
      </div>
      <div class="spacer">
        &nbsp;
      </div>
    </ul>
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>
  <div class="spacer">
    &nbsp;
  </div>