

$primary: #85A447;
$primaryLight: #b5cf83;
$primaryDark: #465831;
$color: #fff; 

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: darken(#568d40, 5);
    z-index: 10;

}

.card {
    border-width: thick;
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-box-shadow: -10px 10px 68px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -10px 10px 68px -8px rgba(0, 0, 0, 0.75);
    box-shadow: -10px 10px 68px -8px rgba(0, 0, 0, 0.75);
    font-family: 'Open Sans', sans-serif;
    background: #333331;
    color: white;

  }

  @media screen and (max-width: 375px) {
  .card{  
    
    font-size: 90%;
  }

  h1 {
    font-size:200%;
  }
  }

  .btn {
    background: darken($primary, 15) !important;
}

.btn-danger{
    background:rgb(216, 2, 2) !important;
}

.btn-success, .btn-primary, .btn-danger{
    border-color: white;
}



.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open>.dropdown-toggle.btn {
    color: white !important; 
    background:  darken(rgb(216, 2, 2),10) !important;
}

.btn-success:hover, .btn-success:focus, .btn-success:active{
    background: rgb(3, 102, 3) !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background: rgb(4, 103, 196) !important;
}